table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.brid {
    font-weight: 900;
}

.bri {
    font-size: 0.8rem;
}

.re {
    background: yellow;
    font-size: 0.8rem;
}

.ri {
    background: aqua;
}

.ra {
    background: red;
}

.ro{
    background: greenyellow;
}

.ru {
    background: pink;
}